<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDx9QM_8gTSVrN01bdP1OT-aBGryVtYrg</string>
	<key>GCM_SENDER_ID</key>
	<string>1096168040746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zudocoz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zudocoz-9451d</string>
	<key>STORAGE_BUCKET</key>
	<string>zudocoz-9451d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096168040746:ios:2d1f5722d52846376a5653</string>
</dict>
</plist>